:root {
    --font-family: 'Roboto', sans-serif;
    --font-size: 16px;
    --font-weight: 400;
    --line-height: 1.64;
    --line-heigh-sm: 1.4;

    --color-light-gray: #EEEFF1;
    --color-dark-blue: #34547A;
    --color-gray: #727272;
    --color-white: #FFFFFF;
    --color-black: #000000;

    --letter-spacing: 0.1em;

    --container-primary: 1110px;
    --container-secondary: 540px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    font-family: var(--font-family);
    font-size: var(--font-size);    
    font-weight: var(--font-weight);
    line-height: var(--line-height);
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: var(--line-heigh-sm);
}
h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: var(--line-heigh-sm);
}

a {
    text-decoration: none;
    color: var(--color-black);
}

.container { 
    width: min(100% - 40px, var(--container-primary));
    margin-inline: auto;
}
.container--sm {
    width: min(100% - 40px, var(--container-secondary));
    margin-inline: auto;
  }

.header {
    background-color: var(--color-light-gray);
    padding-top: 69px;
    padding-bottom: 140px;

}
.navbar { 
    margin-bottom: 141px;
}

.navbar__list {
    display: flex;
    gap: 27px;
    margin-left: -0.75em;

}
.navbar__link {
    display: block;
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-heigh);
    padding: 0.5em 0.75em;
    text-transform: uppercase;
}
.navbar__link--active {
    color: var(--color-dark-blue);
    font-weight: 500;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: var(--container-secondary);
    
}
.hero__title {
    margin-bottom: 40px;
    margin-top: 0;
}
.hero__description {
    margin-bottom: 57px;
    color : var(--color-gray);
    line-height: var(--line-heigh);
    
}
.hero__button {
    min-width: 225px;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding:  0.5em;
    width: fit-content;
    letter-spacing: var(--letter-spacing);
    background-color: var(--color-dark-blue);
    color : var(--color-white);

}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    
}
.section__title {
    margin-bottom: 36px;

}
.section__description {
    color: var(--color-gray);
    line-height:  var(--line-heigh);
    font-weight: 400;
    font-size: 16px;
}

.about {
    background-color: var(--color-white);

}

.experience {
    padding-top: 100px;
    padding-bottom: 94px;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    visibility: hidden;
      
}

  .projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .projects__list {
    display: flex;
    gap: 20px;
  }
  
  .projects__list:nth-child(1) {
    transform: translateX(9px);
  }
  
  .projects__list:nth-child(3) {
    transform: translateX(-7px);
  }
  
  .projects__list:nth-child(4) {
    transform: translateX(-14px);
  }
  
  .projects__list:nth-child(5) {
    transform: translateX(-19px);
  }
  
  .projects__list:nth-child(6) {
    transform: translateX(-27px);
  }
  
  .projects__list-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .projects__list-item {
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    color: var(--color-white);
  }
  
  .projects__list-subitem {
    font-weight: 400;
    color: var(--color-white);
  }
.process {
    background-color: var(--color-light-gray);
}

.process__description {
    font-weight: 400;
    line-height: var(--line-heigh);
}
.video {
    background-color: var(--color-light-gray);
    padding-bottom: 100px;
}

.video__iframe {
    width: 100%;
    height: auto;
    border: 0;
    min-height: 200px;
    aspect-ratio: 16/9;
}

.footer {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .footer__title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 18px;
  }
  
  .footer__description {
    font-size: 13px;
  }